#map svg path.counties {
    fill: #0D192B;
    stroke: #0C5149;
    stroke-opacity:0.5;
}

#map svg path.states{
    stroke: #0C5149;
    stroke-width: 6;
    stroke-opacity: 0.2;
    stroke-linejoin: round;
}

#map svg path.roads, #map svg path.rail{
    stroke-width: 2px;
    stroke: #07F9A2;
}

#map svg path.urban_area {
	fill: #0A8967;
	fill-opacity: 0.6;
	stroke-width:0.5px;
	stroke: #0A8967;
}

#map svg path.t60, #map svg path.t120,#map svg path.t180{
	stroke: #FFFEDF;
	stroke-width:2;
	fill: #FFFEDF;
	fill-opacity: 0.1;
}

#map svg path.rivers{
	stroke: #07F9A2;
	stroke-width:2px;
}

#map svg path.airports, #map svg path.ports{
    stroke-width: 2px;
    stroke: #07F9A2;
	fill:#112;
}
