body{
	background: #222;
	margin: auto;
}

header h3{
	color: #eee;
		
}


	
#map {
	float: left;
	width: 80%;
	height: 80%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	background: #112;
}

aside {
	float: left;
	margin-left: 15px;
	background: #112;
	box-shadow: 0px 0px 5px #ccc;
	border-radius: 5px;
	width: 100px;
	padding:5px;
	height: 100%;
        
}
        
#descriptions{
	color: 112;	
	font-weight: bold;
	padding: 5px;
	margin:10px 0 0 10px;
	position: absolute;
	z-index:10;
	background: #FFFEDF;
	width:180px;
	height: 100px;
	box-shadow: 0px 0px 5px #FFFEDF;
	border-radius: 5px;
	opacity: 0.9;
}
                


.drivebutton {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fffedf), color-stop(1, #fffedf));
    background:-moz-linear-gradient(top, #fffedf 5%, #fffedf 100%);
    background:-webkit-linear-gradient(top, #fffedf 5%, #fffedf 100%);
    background:-o-linear-gradient(top, #fffedf 5%, #fffedf 100%);
    background:-ms-linear-gradient(top, #fffedf 5%, #fffedf 100%);
    background:linear-gradient(to bottom, #fffedf 5%, #fffedf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffedf', endColorstr='#fffedf',GradientType=0);

    background-color:#fffedf;

    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;

    border:1px solid #111122;

    display:inline-block;
    color:#000222;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 20px;
    text-decoration:none;

}
.drivebutton:hover {
	color: #112;
    background:#94f7d1;
}
.drivebutton:active {
    position:relative;
    top:1px;
}


.layerbutton {

   

    background-color:#94f7d1;

    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;

    border:1px solid #112;

    display:inline-block;
    color:#111122;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 20px;
    text-decoration:none;

}
.layerbutton:hover {

    color: #112;
    background:#FFFEDF;
}
.layerbutton:active {
    position:relative;
    top:1px;
}


#drive_buttons:{
}

button{width: 100px;}

footer{
	float:left;
	color: #ccc;
	font-size: 10pt;
	width: 100%;
	padding: 5px;
	
}

footer a, footer a.visited{
	color: #ccc;
	font-weight: bold;
	text-decoration:none;
	font-style:italic;
	
}
footer a:hover{
	color: #94f7d1;
}
