#map svg path.counties {
    fill: #0D192B;
    stroke: #0C5149;
    stroke-opacity:0.5;
	stroke-width: 1.5;	
}

#map svg path.states{
    stroke: #0C5149;
    stroke-width: 6;
    stroke-opacity: 0.2;
    stroke-linejoin: round;

}

#map svg path.roads, #map svg path.rail{
    stroke-width: 1.5px;
    stroke: #07F9A2;
	-webkit-svg-shadow: 0 0 10px #07F9A2;
	
}

#map svg path.rail{
	stroke-dasharray: 5,5;
	
}

#map svg path.hazmat{
	stroke-width:2px;
	-webkit-svg-shadow: 0 0 10px #FA023C;
	stroke: #FA023C;
}

#map svg path.urban_area {
	fill: #0A8967;
	fill-opacity: 0.6;
	stroke-width:0.5px;
	stroke: #0A8967;
	-webkit-svg-shadow: 0 0 1px #fff;
	
}

#map svg path.t2,#map svg path.t4,#map svg path.t6,#map svg path.t8,#map svg path.t10 {
	stroke: #FFFEDF;
	stroke-width:2;
	fill: #FFFEDF;
	fill-opacity: 0.1;
	-webkit-svg-shadow: 0 0 10px #FFFEDF;
	
}

#map svg path.waterways{
	stroke: #000FFF;
	stroke-width:1.5px;
	-webkit-svg-shadow: 0 0 5px #07F9A2;
}
#map svg path.education{
    stroke-width: 1.5px;
    stroke: #FF6103;
	fill: #112;
	-webkit-svg-shadow: 0 0 15px #FF6103;
}

#map svg path.airports_all{
    stroke-width: 1.5px;
    stroke: #07F9A2;
	fill: none;
	-webkit-svg-shadow: 0 0 15px #07F9A2;
}

#map svg path.airports_major{
    stroke-width: 1.5px;
    stroke: yellow;
	fill:yellow;
	-webkit-svg-shadow: 0 0 10px yellow;
}

#map svg path.ports{
    stroke-width: 1px;
    stroke: #000FFF;
	fill:#000FFF;
	-webkit-svg-shadow: 0 0 1px #000FFF;
}
